.weather-header {
  margin-bottom: 20px;
  position: relative;
}
.weather-header .weather-title{
  font-size: 2em;
}

.weather-header .weather-selecter{
  position: absolute;
  right: 0px;
}

.weather-header .weather-selecter button{
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  margin: 3px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.weather-header .weather-selecter button.selected{
  background: rgba(0, 0, 0, 0.8);
}